h1 {
  font-size: 36px;
  letter-spacing: 2px;
  margin: 0;
  padding: 6px 0 12px 0;
  text-align: center;
  text-transform: capitalize;
}

form {
  text-align: center;
  margin: 10px 0 0 151px;
  padding: 10px 0 0 0;
}

input {
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 18px #fd741f;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  width: 63%;
}
img {
  max-width: 80px;
  max-height: 80px;
}

ul {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

button {
  background-color: #ffd55b;
  border-radius: 8px;
  color: #000000;
  font-size: 10px;
  font-weight: bolder;
  padding: 4px 7px 4px 5px;
}

a {
  font-family: "Red Hat Mono", monospace;
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin-right: 5px;
  text-align: right;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.link-one {
  margin-top: 5px;
}
.col-4 {
  margin: 0;
  padding: 10px 8px 10px 12px;
}

.right-side {
  padding: 10px 12px 0 38px;
}

.temperature {
  padding: 0;
}

.date {
  padding: 10px 0 0 0;
}
.weather-conditions {
  padding: 10px 0 0 0;
}
.current-temp {
  position: relative;
  right: 5px;
}
li.temperature-heading {
  font-size: 30px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 2px;
  padding: 6px 0 0 0;
  text-align: center;
}
li.description {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 25px;
  padding: 5px 0 0 0;
  text-align: center;
  text-transform: lowercase;
}
li.last-updated {
  font-size: 16px;
  letter-spacing: 2px;
}

.container {
  font-family: "Rock Salt", cursive;
  margin: 40px auto;
  max-width: 900px;
  padding: 0;
}

.weather-app {
  background-color: #ffa73ab3;
  border: 4px solid #ffa73a47;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #71a3e1;
  padding: 20px;
}
.search-results {
  background-color: #ffefdfab;
  border: 6px solid #ffa2155e;
  border-radius: 10px;
  box-shadow: 1px 1px 30px #fd741f;
  line-height: 20px;
  margin: 0 auto 15px auto;
  max-width: 760px;
  padding: 25px;
}
.search-results:hover {
  background-color: #ffefdf;
  transition: all 800ms ease-out;
}
.col-5 {
  background-color: #89bbf9d4;
  border: 4px solid #ffd55b;
  border-radius: 4px;
  box-shadow: 2px 2px 15px #fd741f;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 auto;
  max-width: 118px;
  padding: 25px 0 10px 0;
  text-align: center;
}
.col-5:hover {
  background-color: #ffefdfab;
  transition: all 800ms ease-out;
}
.snow-icons {
  background-color: #d8e5f7;
}
.haze-icons {
  background-color: #6ca5ed73;
}
.thunderstorm-icons {
  background-color: #688ab5d4;
}
.rain-icons {
  background-color: #5184c5d4;
}
.drizzle-icons {
  background-color: #538bd5d4;
}
.broken-clouds-icons {
  background-color: #3e82ddd6;
}
.scattered-clouds-icons {
  background-color: #3f89ebd6;
}
.few-clouds-icons {
  background-color: #36a8f9d9;
}
.clear-sky-icons {
  background-color: #36c3f9f2;
}
.weekday {
  letter-spacing: 1px;
  font-size: 15px;
}
.button-group {
  position: relative;
  right: -18px;
  top: -2px;
}
.single-button {
  position: relative;
  left: 11px;
  top: -10px;
}
